<div class="container">

	<h1 class="page-header">Vídeos</h1>

	<p ng-show="!videos.length">
		No hay vídeos disponibles para mostrar en estos momentos
	</p>

	<div class="row video-list">
		<div class="col-md-4 video-list-item" ng-repeat="video in videos | filter:filter" ng-click="watch(video._id)">
			<video ng-src="{{ 'http://videos.mitubo.es/' + video._id }}" width="100%" height="200">
				Your browser does not support the video tag.
			</video>

			{{ video.title }}
			<br>
			{{ video.date }}
		</div>
	</div>

</div>