<div class="container">

	<h1 class="page-header"><i class="fa fa-cloud-upload"></i> Subir Vídeo</h1>

	<h4>1. Seleccionar el archivo</h4>

	<form ng-show="!phase">

		<label>
			<input type="file" id="file" onchange="angular.element(this).scope().fileNameChanged()">
			Seleccionar el vídeo que se desea subir
		</label>

	</form>

	<div ng-show="phase >= 1">
		<fieldset>
			<legend>2. Info del vídeo</legend>

			<div class="form-group">
				<label>Título</label>
				<input class="form-control" type="text" ng-model="video.title">
			</div>
			<div class="form-group">
				<label>Descripción</label>
				<textarea class="form-control" rows="4" ng-model="video.desc"></textarea>
			</div>

			<button ng-click="videoUpload()" class="btn btn-default btn-block">Enviar</button>
		</fieldset>
	</div>

	<div ng-show="phase >= 2">
		<h4>3. Obtener un ID del servidor central</h4>
		<i class="fa fa-spinner fa-spin fa-2x" ng-show="video.allocating"></i>
		<p>ID: {{ video.id }}</p>
	</div>
	
	<div ng-show="phase >= 3">
		<h4>4. Subir el archivo a los servidores de video</h4>
		<p ng-show="video.uploaded">
			<a class="btn btn-success" href="#/video/{{ video.id }}">Ver el vídeo</a>
		</p>
		<i class="fa fa-spin fa-spinner fa-2x" ng-show="!video.uploaded"></i>
	</div>

</div>