<div ng-show="video">

	<div class="container">
		<h1 class="page-header">{{ video.title }}</h1>
	</div>

	<video ng-src="{{ 'http://videos.mitubo.es/' + video._id }}" width="100%" height="720" controls>
		Your browser does not support the video tag.
	</video>

	<div class="container">
		<h2 class="page-header">
			Información del Vídeo
			<span class="pull-right" ng-show="loggedin">
				<i class="fa fa-heart-o pointer" tooltip="Añadir a favoritos" ng-click="fav()" ng-show="!isFav()"></i>
				<i class="fa fa-heart pointer" tooltip="Quitar de favoritos" ng-click="unfav()" ng-show="isFav()"></i>
			</span>
		</h2>
		<p>Título: {{ video.title }}</p>
		<p>ID: {{ video._id }}</p>
		<p>Fecha: {{ video.date }}</p>
		<p>Descripción:</p>
		<pre>{{ video.desc }}</pre>
	</div>
</div>

<center ng-show="!video"><i class="fa fa-spinner fa-spin fa-4x"></i></center>